@inherits ComponentBase
@typeparam T


<ul style="flex-shrink:0">
    <Virtualize Items="viewList" ItemSize="50" Context="viewListItem">
        <li @key="@(viewListItem.Key)" style="height:50px; flex-shrink:0; margin-left:@(viewListItem.Level * 48)pt;">
            @if (ChildrenSelector?.Invoke(viewListItem.Item)?.Count > 0)
            {
                <MudIconButton Icon="@Icons.Material.Filled.ChevronRight" OnClick="() => OnClick(viewListItem)" />
            }
            @if (ItemTemplate == null)
            {
                @viewListItem.Item
            }
            else
            {
                @ItemTemplate(viewListItem.Item)
            }
        </li>
    </Virtualize>
</ul>